# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.vscode/*
Library/
node_modules/
build/
.idea/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.exe
*.test
*.prof
package-lock.json
